/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
}
